<div>

   <p>
    <strong>ID:</strong>
    <%= @recipe.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @recipe.name %>
  </p>

  <p>
    <strong>Preparation time:</strong>
    <%= distance_of_time_in_words(0, @recipe.preparation_time.minutes) %> 
  </p>

  <p>
    <strong>Cooking time:</strong>
    <%= distance_of_time_in_words(0,@recipe.cooking_time.minutes) %> 
  </p>
    <%= form_with(model: @recipe ) do |f| %>
      <div class='public-check'>
        <p>
         <strong>Public:</strong>
        </p>
     <%= f.check_box :public, class: 'form-control', onchange: 'this.form.submit();'  %>
      </div>
    <% end %>

</div>
