<p style="color: green"><%= notice %></p>
<div class="details-container">
<div class="details">

<%= render 'recipe_details' %>

<h1>List of foods</h1>
<ul class="food-list">
 <div class="foodtitle-row">
    <p>Food</p>
    <p>Quantity</p>
    <p>Value</p>
    <p>Actions</p>
  </div>
  <% RecipeFood.where(recipe_id: @recipe.id).each do |recipe_food| %>
    <li><%= Food.find_by(id:recipe_food.food_id).name %> <%= recipe_food.quantity%></li>
  <% end %>
</ul>

<%= form_with(model: @recipe_food) do |form| %>
    <h2>Add ingredients</h2>
   
    <%= collection_select(:recipe_food, :food_id, Food.all, :id, :name) %>
   
    <div style="display:none;">
      <%= form.label :recipe_id %>
      <%= form.number_field :recipe_id, value: @recipe.id %>
    </div>
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
    <div class="actions">
      <%= form.submit "Add ingredient"%>
    </div>
  <% end %>

  <div class="recipe-buttons">
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %> |
  <%= button_to "remove this recipe", @recipe, method: :delete %>  |
  <%= link_to "Back to recipes", recipes_path %>
</div>
  </div>
  </div>