<p style="color: green"><%= notice %></p>

<%= render @food %>

<div>
  <%= link_to "Back to foods", foods_path %>
  <% if can? :manage, @food%>
  <%= link_to "Edit this food", edit_food_path(@food) %> |
  <%= button_to "Destroy this food", @food, method: :delete %>
  <% end %>
</div>
