<header class="header-container">
  <%= link_to root_path do %>
    <div class="nav-left">
      <%= image_tag "diet.png" %>
      <h1><span class="green">Recipe</span>App</h1>
    </div>
  <% end %>
  <ul>
    <% if user_signed_in?%>  
        <li class="nav-link <%= "highlighted" if current_page?(root_path) || current_page?(foods_path) %>"><%= link_to 'Foods', root_path%></li>
        <li class="nav-link <%= "highlighted" if current_page?(recipes_path) %>"><%= link_to 'Recipes', recipes_path %></li>
        <li class="nav-link <%= "highlighted" if current_page?(public_recipes_path) %>"><%= link_to 'Public Recipes', public_recipes_path %></li>
        <li class="nav-link <%= "highlighted" if current_page?(general_shopping_list_path) %>"><%= link_to 'Shopping List', general_shopping_list_path %></li>
        <li class="nav-link <%= "highlighted" if current_page?(edit_user_registration_path) %>"><%= link_to 'Edit Profile', edit_user_registration_path%></li>
        <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: 'sign-out' %></li>
      <% else%> 
        <li><%= link_to 'Sign In', new_user_session_path %></li> 
        <li><%= link_to 'Sign Up', new_user_registration_path, class: 'sign-up' %></li> 
      <% end %>
  </ul>
</header>

